<div class="dark:bg-gray-800 rounded-xl p-6 h-full flex flex-col overflow-auto">
  <ng-container *ngIf="!isLoading; else loadingProducts">
      <div class="flex justify-end">
        <button tuiButton size="m" routerLink="/products/add" [disabled]="isDeleteLoading">Add Product</button>
      </div>
      <table *ngIf="!isDeleteLoading; else loadingProducts" class="tui-table mt-10">
        <tbody>
          <tr class="tui-table__tr_border_top">
            <th class="tui-table__th tui-table__th_font-size_l">Title</th>
            <th class="tui-table__th tui-table__th_font-size_l">Price</th>
            <th class="tui-table__th tui-table__th_font-size_l">Category</th>
            <th class="tui-table__th tui-table__th_font-size_l">Image</th>
            <th class="tui-table__th tui-table__th_font-size_l w-52">
              Actions
            </th>
          </tr>
          <tr
            class="tui-table__tr tui-table__tr_border_top"
            *ngFor="let product of products"
          >
            <td class="tui-table__td">{{ product.title }}</td>
            <td class="tui-table__td">{{ product.price | tuiCurrency }}</td>
            <td class="tui-table__td">{{ product.category.name }}</td>
            <td class="tui-table__td">
              <img
                width="30"
                height="22.5"
                loading="lazy"
                [src]="
                  product.images.length
                    ? product.images[0]
                    : 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Error.svg/1200px-Error.svg.png'
                "
                alt=""
              />
            </td>
            <td class="tui-table__td">
              <a tuiLink [routerLink]="['/products/detail', product.id]"
                >Detail</a
              >
              |
              <a
                tuiLink
                mode="positive"
                [routerLink]="['/products/update', product.id]"
                >Update</a
              >
              |
              <a tuiLink mode="negative" (click)="deleteProduct(product)">Delete </a>
            </td>
          </tr>
        </tbody>
      </table>
  </ng-container>
</div>
<ng-template #loadingProducts>
  <div class="mt-20">
    <tui-loader></tui-loader>
  </div>
</ng-template>
