<div class="dark:bg-gray-800 rounded-xl p-6 h-full">
  <ng-container *ngIf="category$ | async as category; else loadingCategory">
    <form #formCategory="ngForm" (ngSubmit)="onSubmit()">
      <div class="tui-row">
        <div class="tui-col_6">
          <tui-input
            [ngModel]="category.name"
            name="name"
            tuiTextfieldExampleText="Type the name..."
            tuiTextfieldSize="m"
            required
            >Category Name</tui-input
          >
          <div class="h-10 pt-2">
            <span
              *ngIf="
                formCategory.controls['name']?.hasError('required') &&
                formCategory.controls['name']?.touched
              "
              class="text-red-600"
            >
              Category name is required!
            </span>
          </div>
        </div>
        <div class="tui-col_6">
          <tui-input
            [ngModel]="category.image"
            name="image"
            tuiTextfieldExampleText="The link of image..."
            tuiTextfieldSize="m"
            required
            >Category Image</tui-input
          >
          <div class="h-10 pt-2">
            <span
              *ngIf="
                formCategory.controls['image']?.hasError('required') &&
                formCategory.controls['image']?.touched
              "
              class="text-red-600"
            >
              Category image is required!
            </span>
          </div>
        </div>
      </div>

      <div class="flex justify-end">
        <button tuiButton size="m" [showLoader]="isLoading">Update Category</button>
      </div>
    </form>
  </ng-container>
</div>
<ng-template #loadingCategory>
  <tui-loader></tui-loader>
</ng-template>
