:host ::ng-deep {
  .content {
    height: 100vh !important;
    overflow: auto;
  }
}

.app-layout {
  @apply h-full flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white overflow-auto;
}

.app-content {
  @apply h-full ml-14 mt-14 md:ml-64 p-6 overflow-auto;
}
