<div class="dark:bg-gray-800 rounded-xl p-6 h-full">
  <form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
    <div class="tui-row">
      <div class="tui-col_6">
        <tui-input
          formControlName="title"
          tuiTextfieldSize="m"
          tuiTextfieldExampleText="Enter product title..."
          tuiAutoFocus="true"
        >
          Product Title
        </tui-input>
        <div class="h-10 pt-2">
          <span
            *ngIf="
              formProduct.controls['title'].hasError('required') &&
              formProduct.controls['title'].touched
            "
            class="dark:text-red-300"
          >
            Title is required!
          </span>
        </div>
      </div>
      <div class="tui-col_6">
        <tui-input-number
          [postfix]="'USD' | tuiCurrency"
          formControlName="price"
          tuiTextfieldSize="m"
          tuiTextfieldExampleText="Enter product price..."
        >
          Product price
        </tui-input-number>
        <div class="h-10 pt-2">
          <span
            *ngIf="
              formProduct.controls['price'].hasError('required') &&
              formProduct.controls['price'].touched
            "
            class="dark:text-red-300"
          >
            Price is required!
          </span>
        </div>
      </div>
    </div>
    <div class="tui-row">
      <div class="tui-col_6">
        <tui-select
          *tuiLet="categories"
          tuiTextfieldSize="m"
          formControlName="categoryId"
          [valueContent]="categories ? stringify(categories) : loading"
        >
          Category
          <ng-template tuiDataList>
            <tui-data-list *ngIf="categories; else loading">
              <button *ngFor="let item of categories" tuiOption [value]="item.id">
                {{ item.name }}
              </button>
            </tui-data-list>
          </ng-template>
        </tui-select>
      </div>
      <div class="tui-col_6">
        <tui-input formControlName="images" [tuiTextfieldSize]="'m'">
          Images
        </tui-input>
      </div>
    </div>
    <tui-editor
      new
      exampleText="Enter description product..."
      class="editor mt-10"
      formControlName="description"
    >
      Description
    </tui-editor>

    <div class="flex justify-end mt-10">
      <button tuiButton size="m" [showLoader]="isLoading">Update Product</button>
    </div>
  </form>
</div>
<ng-template #loading>
  <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
</ng-template>
